In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time

In [2]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
# Set the url for the mars.nasa website
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [4]:
# Create BeautifulSoup object and parse with 'html.parser'
nasa_news_soup = BeautifulSoup(browser.html, 'html.parser')

In [5]:
# Examine the results, then determine element that contains latest News Title
results_news_title = nasa_news_soup.find('div', class_='content_title')

In [6]:
# Find the first <a> tag and save it as `first_news_title`
news_title = results_news_title.find('a').get_text()
print(news_title)

NASA Engineers Dream Big with Small Spacecraft

In [7]:
# Examine the results, then determine element that contains the paragraph
results_news_paragraph = nasa_news_soup.find('div', class_='article_teaser_body')

In [8]:
# Find the paragraph text using the parent element
news_p = results_news_paragraph.text
print(news_p)

The first CubeSat mission to deep space will launch in May.

# JPL Mars Space Images

In [9]:
# Set the url for the jpl.nasa website
img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(img_url)

In [10]:
# Examine the results, then determine element that contains full image
jpl_full_image = browser.find_by_id('full_image')

In [11]:
# Click the 'full image' button(link)
jpl_full_image.click()

In [12]:
# Examine the results
# This page has a medium-size image. Determine element that contains more info since more ifo link has a large size image.
jpl_more_info = browser.find_link_by_partial_text('more info')

In [13]:
# Click the 'more info' button(link)
time.sleep(6)
jpl_more_info.click()

In [14]:
# This page has the full image. grab the html from this page.
# Create BeautifulSoup object and parse with 'html.parser'
jpl_image_soup = BeautifulSoup(browser.html, 'html.parser')

In [15]:
# Find the image url for the current Featured Mars Image
mars_image_url = jpl_image_soup.find('figure', class_='lede').find('img')['src']
print(mars_image_url)

/spaceimages/images/largesize/PIA16694_hires.jpg

In [16]:
# Assign the url string to a variable called `featured_image_url` and get a complete url
featured_image_url = "https://www.jpl.nasa.gov" + mars_image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16694_hires.jpg

# Mars Weather

In [17]:
# Set the url for the mars weather website
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

In [18]:
# Create BeautifulSoup object and parse with 'html.parser'
mars_weather_soup = BeautifulSoup(browser.html, 'html.parser')

In [19]:
# Examine the results, then determine element the latest tweet text
mars_weather = mars_weather_soup.find('p', class_='tweet-text').text
print(mars_weather)

Sol 2030 (April 22, 2018), Sunny, high -4C/24F, low -73C/-99F, pressure at 7.21 hPa, daylight 05:25-17:21

# Mars Facts

In [20]:
# import dependencies and read the html for the table
import pandas as pd
mars_facts_df = pd.read_html('http://space-facts.com/mars/')[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
# Rename the column headers
mars_facts_df.columns = ['Description', 'Value']

In [22]:
# Set the index to Column 1
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [23]:
# Use Pandas to convert the data to a HTML table string.
mars_facts = mars_facts_df.to_html()
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [24]:
# Set the url for the mars hemisplere images website
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [25]:
# Create BeautifulSoup object and parse with 'html.parser'
mars_hemispheres_soup = BeautifulSoup(browser.html, 'html.parser')

In [26]:
# Examine the results, then determine element that contains first full image
# 'dive'with class result-list contains 4 'div' with class item
products = mars_hemispheres_soup.find('div', class_='result-list')
mars_hemispheres = products.find_all('div', class_='item')

In [27]:
# Creater a dictionary to hold the values for image url and titles
mars_hemisphere_dict = []

# iterate through the element to get the image url and titles
for item in mars_hemispheres:
    
    title = item.find("h3").text
    
    just_image_url = item.find('a')['href']
    complete_image_url = "https://astrogeology.usgs.gov/" + just_image_url    
    browser.visit(complete_image_url)
    
    item_soup=BeautifulSoup(browser.html, 'html.parser')
    
    downloads = item_soup.find('div', class_='downloads')
    image_url = downloads.find('a')['href']
    
    mars_hemisphere_dict.append({"title": title, "img_url": image_url})

mars_hemisphere_dict

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]